
.Template{
width: 400px;
padding:20px;
box-sizing: border-box;
margin:60px auto 0;
background-image:linear-gradient(#d9a7c7, #fffcdc);


.title{
    // background: #d9a7c7;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding:40px 0;
    color:#fff;
    font-weight: 700;
    
}
.content{
    background: #fff;

}
}